body
{
    background: url('front4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.A nav ul
{
    list-style: none;
    display: inline-flex;
}
.A nav ul li
{
    color:white;
    font-size:20px;
    
}
.A nav ul li a
{
    text-decoration: none;
    color:white;
    padding:15px;
}
.A h1
{
    display: flex;
    font-size: 50px;
    color: transparent;
    font-family:'Segoe UI';
    margin-top:5px;
    margin-right: 400px;
}
.A h1 span
{
    animation: animate 3s linear infinite;
}
@keyframes animate
{
    0%
    {
        color:#ffff;
        filter: blur(2px) hue-rotate(0 deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
    }
    100%
    {
        color:#ffff;
        filter: blur(2px) hue-rotate(360 deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
    }

}
.A1,.A2,.A3,.A4,.A5,.A6
{
    margin-top:30px;
    margin-right: 40px;
}
.A1 a,.A2 a,.A3 a,.A4 a,.A5 a,.A6 a
{
    transition:1s ease;
}
.A1 a:hover
{
    border-color:#00b3ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
}
.A2 a:hover
{
    border-color:#00b3ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
}
.A3 a:hover
{
    border-color:#00b3ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
}
.A4 a:hover
{
    border-color:#00b3ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
}
.A5 a:hover
{
    border-color:#00b3ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
}
.A6 a:hover
{
    border-color:#00b3ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
}
.AT
{
    background: -webkit-linear-gradient(blue,aqua,cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:55px;
    margin-left:700px;
    margin-top: 150px;
}
button
{
    height:75px;
    width:165px;
    font-size: 25px;
    border-radius:30px;
    border-width: 5px;
    margin-top:50px;
    margin-left: 700px;
    color:white;
    background-color: black;
    border-color: white;
    transition:1s;
}
button:hover
{
    animation:animates 2s;
    transform: scale(1.1);
}
@keyframes animates
{
    0%
    {
        color:#ffff;
        filter: blur(2px) hue-rotate(0 deg);
        box-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff;
        
    }
    100%
    {
        color:#ffff;
        filter: blur(2px) hue-rotate(360 deg);
        box-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff;
    }
}